*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
 /* navbar qismi */
.container{
    max-width: 1400px;
    margin:0 auto;
}
.card{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    font-family: sans-serif;
}
.card__logo>img{
    display: flex;
    width: 236px;
    height: 26px;
}
.card__logo>img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.card__title{
    display: flex;
}
.card__title__li{
    display: flex;
    width: 121px;
    height:15px ;
    margin: 0 32px;
 
}
.card__title__li>a{
    text-decoration: none;
    color: #83888F;
}
.card__title__li>a:hover{
    text-decoration:underline 2px solid aqua;
}

 /* header qismi */


.card__decrpshon{
    max-width: 100%;
    margin: 0 20px;
    background-image: url(./Bitmap\ \(1\).png);
    background-repeat: no-repeat;
    width: 100%;
    height: 460px;
    margin-top: 20px;
   
}
.card__decrpshon__block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card__decrpshon__title{
    margin: 50px auto auto 85px;
    color: #ffff;
}
.card__decrpshon__child{
    width: 455px;
    height: 104px;
    margin: 30px auto auto 85px;
    color: #fff;
    font-family: sans-serif;
}
.card__decrpshon__child-a{
    width: 217px;
    height: 56px;
    border-radius: 5px;
    background-color:#0E8784;
    font-family: sans-serif;
    text-align: center;
    padding-top:20px;
    margin: 30px auto auto 85px;

}
.card__decrpshon__child-a>a{
    color: #fff;
    align-items: center;
    text-decoration: none;
}
/* tana qismi */
.card__gredent{
    width: 1111px;
    height: 530px;
    margin: 0 auto;
}
.tex{
    position: absolute;
    width: 1111px;
    height:250px;
    z-index:10;
    margin-top: 10px;
}
.tex h1{
    margin: 0 auto;
    font-size:180px; 
    background: linear-gradient(0deg, rgba(117, 189, 100, 0) 0%, #e2dccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.card__gredent__teg{
    display:flex;
    width: 100%;
    padding-top: 120px;
    margin-top: auto;
   
}
.card__gredent__child{
    width: 25%;
    height: 400px;
 
}
.card__gredent__child h2{
    width: 255px;
    height: 32px;
    margin-top: 200px;
}
.card__gredent__child h2>p{
    width: 185px;
    height: 78px;
    font-family: sans-serif;
}
.card__gredent__child::before{
    display: flex;
    position: absolute;
    content: "";
    width: 255px;
    height: 193px;
    background-image: url(./img/gggg.png);
    align-items: center;
    flex-direction: column;
    margin: 0 0 90px 0px;
    z-index: +1;
}

.div::before{
    display: flex;
    position: absolute;
    content: "";
    width: 255px;
    height: 193px;
    margin: 0 0 60px 0px;
    background-image: url(./img/kopi1\ copy.png);
}

.dectop{
    width: 1400px;
    height: 600px;
    margin: 0 20px;
}
.dectop__child{
    width:1280px;
    height:400px;
    background-color: rgb(8, 6, 6);
    position:absolute;
    z-index: -1;
    

}
.dectop__titli{
    width: 329px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto auto auto;
    font-weight: 900;
    color: #FEFCF7;
}
.dectop__titli>h1{
    margin-top: 20px;
    padding-top: 50px;
    margin-top: auto;
}
.dectop__bickirit{
    width: 540px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    margin-top: 52px;
    color: #FEFCF7;
    font-family: sans-serif;
}
.dectop__blok{
    width:1280px;
    height: 302px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    padding-bottom:20px ;
    top: 210px;
}
.bect__qutesle{
    width: 250px;
    height: 300px;
    background-color: #0E8784;
    border-radius: 10px;
}
.bect__qutesle>h2{
    width: 255px;
    height: 32px;
    margin: auto;
    margin-top: 180px;
    text-align: center;
}
.bect__qutesle>p{
    width: 255px;
    height: 78px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}
.bect__qutesle::before{
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    content: "";
    background-image:url(./img/Shape.png);
    margin-left :100px;
    margin-top: 60px;

}
.enzibel{
    width:1350px;
    height: 565px;
    margin: 0 auto;
    display: flex;
    margin-left: px;
}
.glavni{
    width: 255px;
    height: 32px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;

    font-family:sans-serif;
}
.enzibel__titli{
    width:calc((100%/3)) ;
    margin-top: 210px;
    position: relative;
    margin-right:10px;
}
.card__number{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.enzibel__title__block{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.enzibel__deck{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.enzibel__titli::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 31px;
    border: 2px solid rgb(8, 97, 42);
    border-radius: 50%;
    background-color: #fff;
    /* top:-1px; */
    top:-100px;
    left:20 ;
    z-index:2;
    margin-bottom: 1000px;
    /* margin-bottom: 250px; */
    
}
.enzibel__titli::after{
    position: absolute;
    content: "";
    width:100%;
    /* height: 2px; */
    border: 2px solid #FDD6BA;
    /* border-radius: 50%; */
    background-color: cornsilk;
    top:-85px;
    top: px;
    left:20 ;
    z-index:-2;
    margin-bottom: 1000px;
    /* margin-bottom: 250px; */
    
}
.enzibel__titli:nth-child(4)::after {
    display:none;
}
.rectange{
    width: 217px;
    height: 56px;
}
.rectange{
    width: 217px;
    height: 56px;
    background: #66D2CF;
    border-radius: 6px;
    margin: 20px;

}
.rectange>a{
    text-decoration: none;
    color: #fff;
}
.rectange:hover{
    background-color:  rgb(35, 78, 77);
    color: rgb(77, 6, 87);
}
.footer{
    width: 1350px;
    height: 120px;
    background: #2C343E;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.kope{
    display: flex;
    justify-content: space-around;
}
.kope>a{
    margin: 0 20px;
}